@import url('https://fonts.googleapis.com/css2?family=Inter:ital,wght@0,100..900;1,100..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');
@import "tailwindcss";

@theme {
  --font-sans: "Inter", ui-sans-serif, system-ui, sans-serif;
  --font-mono: "JetBrains Mono", ui-monospace, SFMono-Regular, monospace;
  
  --color-accent: var(--accent-color, #10B981);
}

@layer base {
  :root {
    --accent-color: #10B981;
  }

  body {
    @apply bg-[#0a0a0a] text-white font-sans;
  }
}
